<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    記事を投稿
</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">記事投稿</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {%if user.is_authenticated %}
            <form method="POST" class="my-4">
                {% csrf_token %}
                <div class="mb-2">
                    <input type="text" class="form-control" name="title" placeholder="タイトル">
                    <textarea class="rounded-0 bg-light form-control" rows="3" name="text" placeholder="内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary">投稿する</button>
                </div>
            </form>
            {% else %}
            <p class="my-4">
                記事を投稿するには<a href="{% url 'login' %}">ログイン</a>してください
            </p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>