{% extends 'mysite/base.html' %}

{% block content %}

<div class="container">
    
<main class="container">
    
    <div class="row">
        <div class="col-md-8">
            <div class="border-bottom">
                <nav class="nav d-flex justify-content-between">
                    <h3>記事一覧</h3>
                    {% include 'mysite/snipets/post.html' %}
                </nav>
            </div>
            

            {% for item in page_obj %}
            <div class="blog-post border my-4 rounded">
            <a class="text-decoration-none" href="{% url 'article' item.pk %}">
                <h2 class="blog-post-title bg-light border py-1">{{item.title}}</h2>
                <p class="blog-post-meta">{{item.created_at}}
                    {{item.user}}
                </p>
            </a>
            </div>
            {% endfor %}
            
            {% include 'mysite/snipets/pagenation.html' %}

            
        </div>
        {% include 'mysite/snipets/sidebar.html' %}
    </div>
</main>


{% endblock %}